/ios/www
/android/www
/backend/vs/FarmastampatiMobi/FarmastampatiMobi.suo
/backend/vs/FarmastampatiMobi/bin
/backend/vs/FarmastampatiMobi/obj
/ios/platforms/ios/www/js/config.js
/ios/platforms/ios/www/js/config-test.js
/ios/platforms/ios/www/js/config-prod.js

/backend/vs/FarmastampatiMobi/www
/backend/vs/FarmastampatiMobi/android-debug.apk
/.credentials
/.DS_Store
